<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Armageddon Server</title>
</head>
<body>
{% include 'smoking/layout/topmenu.html' %}
<form method="post" action="/pension/api/saveWallPoster/">				
    lotSeq <input type="text" name="lotSeq" value=""/>
   	grade <input type="text" name="grade" value=""/>
   	money <input type="text" name="money" value=""/>
   	number1 <input type="text" name="number1" value=""/>
   	number2 <input type="text" name="number2" value=""/>
   	number3 <input type="text" name="number3" value=""/>
   	number4 <input type="text" name="number4" value=""/>	
   	number5 <input type="text" name="number5" value=""/>	
   	number6 <input type="text" name="number6" value=""/>	
   	number7 <input type="text" name="number7" value=""/>	   	   	    
    <input type="submit" value="Send"/>
</form>	
<h4>Get Winner Number</h4>
<a href='/pension/api/getNumber?callback=?&lotSeq=3'>Get Winner Number</a>
</body>
</html>