<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Kinggame Server</title>
</head>
<body>
{% include 'kinggame/layout/topmenu.html' %}

{% if penaltylist_ref %}
	<table>
		<tr>			
			<td>detail</td>
			<td>lang_type</td>			
			<td>update_at</td>
		</tr>
		{% for penaltylist in penaltylist_ref%}
			<tr>				
				<td>{{penaltylist.detail}}</td>
				<td>{{penaltylist.lang_type}}</td>				
				<td>{{penaltylist.update_at}}</td>
			</tr>			
		{% endfor %}
	</table>
	
{% endif %}


</body>
</html>